
&arduino_i2c {
	status = "okay";
	amg88xx_amg88xx_grid_eye_eval_shield: amg88xx@68 {
		compatible = "panasonic,amg88xx";
		reg = <0x69>;
		int-gpios = <&arduino_header 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		status = "okay";
	};
};
