$bg-color: #070F2B !default;
$secondary-color: #1B1A55 !default;
$tertiary-color: #535C91 !default;
$accent-color: #9290C3 !default;

.clock {
    display: flex;
    flex-direction: column;
    .time-holder {
        display: flex;
        justify-content: center;
        font-size: 100px;
        .seconds {
            font-size: 30px;
            margin-top: 0.8em;
            color: $accent-color;
        }
        .am-pm {
            font-size: 60px;
            align-self: end;
            margin-bottom: 0.10em;        
        }
    }

    
    .date-holder {
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 40px;
        color: $accent-color;
        margin-bottom: -0.5em;
    }
}
