@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$bg-color: #070F2B;
$secondary-color: #1B1A55;
$tertiary-color: #535C91;
$accent-color: #9290C3;



body {
    font-family: "Open Sans", sans-serif;
    background-color: $bg-color;
    color: white;
}

@import './clock.scss';
@import './sensors.scss';
@import './eye-track.scss';
