@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$bg-color: #070F2B;
$secondary-color: #1B1A55;
$tertiary-color: #535C91;
$accent-color: #9290C3;



body {
    font-family: "Open Sans", sans-serif;
    background-color: $bg-color;
    color: white;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.data {
    width: 25%;
    margin-right: 50px;
}

@import './clock.scss';
@import './tables.scss';
@import './graph.scss';
