<div class="sensors" hx-get="/sensors" hx-swap="outerHTML" hx-trigger="every 2s"> 
    {% if sensor_data %}
    <h1>Flower State</h1>
    <table>
        <tr>
            <th>Petals:</th>
            <td>{{sensor_data.TVOC}} ppm</td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>{{sensor_data.CO2}} ppm</td>
        </tr>
        <tr>
            <th>Flashing:</th>
            <td>{{sensor_data.Humidity}}%</td>
        </tr>
    </table>
    {% endif %}
</div>