<div class="eye-tracking" hx-get="/eye-track" hx-swap="outerHTML" hx-trigger="every 1s"> 
    <h1>Sensor Readings</h1>
    <table>
        <tr>
            <th>Status:</th>
            <td>{{eye_data.status}}</td>
        </tr>
        <tr>
            <th>Time in state:</th>
            <td>{{'%0.2f'| format(eye_data.time)}}s</td>
        </tr>
    </table>
</div>