<div class="grid-data" hx-get="/grid" hx-swap="outerHTML" hx-trigger="every 1s"> 
    {% if grid_data %}
    <h1>IR Grid Data (°C)</h1>
    <table>
        {% for row in grid_data %}
        <tr>    
            {% for val in row %}
            <td style="background-color: hsl({{30 + 240 * (20 - val) / 60}}, 70%, 50%);">{{val}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="buttons"> 
    </div>
</div>
