<div class="sensors" hx-get="/sensors" hx-swap="outerHTML" hx-trigger="every 2s"> 
    {% if sensor_data %}
    <h1>Sensor Readings</h1>
    <table>
        <tr>
            <th>TVOC:</th>
            <td>{{sensor_data.tvoc}} ppm</td>
        </tr>
        <tr>
            <th>CO₂:</th>
            <td>{{sensor_data.co2}} ppm</td>
        </tr>
        <tr>
            <th>Humidity:</th>
            <td>{{sensor_data.humidity}}%</td>
        </tr>
        <tr>
            <th>Temp:</th>
            <td>{{sensor_data.temp}}°C</td>
        </tr>
        <tr>
            <th>Average IR:</th>
            <td>{{sensor_data.average_ir_temp}}°C</td>
        </tr>
    </table>
    {% endif %}
</div>