{% from "./components/clock.html.j2" import clock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSSE4011 Project Dashboard</title>
    
    <script src="../static/htmx.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {{clock()}}
    <div style="display: flex;">
        <div class="data">
            {% include "./components/sensors.html.j2" %}
            {% include "./components/eye_tracking.html.j2" %}
        </div>
        <div>
            {% include "./components/graph.html.j2" %}
        </div>
        <div>
            {% include "./components/flower_state.html.j2" %}
            {% include "./components/grid.html.j2" %}
        </div>
    </div>
</body>
</html>