{% from "./components/clock.html.j2" import clock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    
    <script src="../static/htmx.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {{clock()}}
    <div>
        {% include "./components/sensors.html.j2" %}
        {% include "./components/eye_tracking.html.j2" %}
    </div>
</body>
</html>